body {
  background-color: #262626;
}

.center-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes example {
  from {
    opacity: 100%;
  }
  to {
    opacity: 10%;
    left: 15%;
  }
}

.products {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 15%;
  z-index: 3;
  animation-name: example;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: backwards;
}

.next-button {
  position: absolute;
  bottom: 0px;
  right: 0px;
  max-width: 30%;
}

.coca-logo {
  width: 75%;
  z-index: 2;
}
.square {
  width: 50%;
  background: linear-gradient(64.5deg, #292929 2.1%, #1c1c1c 100.55%);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  z-index: 1;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square-content {
  position: absolute;
  font-family: SF Pro Text;
  font-style: normal;
  font-size: 100%;
  font-style: normal;
  bottom: 5%;
  left: 5%;
  color: white;
}
