
:root {
    --my-variable-name: linear-gradient(64.5deg, #292929 2.1%, #1C1C1C 100.55%);
    --te4st: linear-gradient(66.37deg, #ECE1C9 2.16%, #9F8C5C 103.37%);
  }
  
// COLOR
$text-content-color: white;
$square-backround: var(--my-variable-name);
$square-box-shadow:0px 20px 30px rgba(0, 0, 0, 0.25);

// Sized
$square-font-size: 1.2vw;

