@import "variables";
@import "mixings";

body {
  background-color: #262626;
}

.products {
  content: url("../images/Zero.png");
  @include centering-page;
  max-width: 15%;
  z-index: 3;
}

.coca-logo {
  content: url("../images/cocalogo.svg");
  @include centering-page;
  width: 75%;
  z-index: 2;
}
.square {
  @include centering-page;
  width: 50%;
  background: $square-backround;
  box-shadow: $square-box-shadow;
  border-radius: 60px;
  z-index: 1;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square-content {
  position: absolute;
  max-width: 100%;
  font-family: SF Pro Text;
  font-style: normal;
  font-size: $square-font-size;
  bottom: 5%;
  left: 5%;
  color: $text-content-color;
  // z-index: 6;
}

.next-container {
  content: url("../images/Vector2.png");
  position: absolute;
  bottom: 0px;
  right: 0px;
  max-width: 30%;
}

.next-button {
  font-family: SF Pro Text;
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 100%;
  color: $text-content-color;
}
.next-button:hover {
  cursor: pointer;
}

@include animation-slide-left;

.slide-animation-left {
  animation: slide-left 1s;
}

@include animation-slide-down;

.slide-animation-down {
  animation: slide-down 1s;
}
